<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <img src="../../storage/icono/logo.jpg" width="200px" alt="logo" >

          </div>
          <h1 class="text-uppercase">Gestion  de PVC</h1>
          <h4 class="mb-2">  Hola , parece que no estas conectado</h4>
          <p class="mb-4" style="color: #566A7F;">Por favor hacelo para acceder a tu tablero.</p>
          {{#if status}}
            <div class="alert alert-danger alert-dismissible" role="alert">
              {{msg}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {{/if}}
          <form id="formAuthentication" class="mb-3"  method="POST">
            <div class="mb-3">
              <label for="usuario" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="usuario" name="usuario" placeholder="" required autofocus="">
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Contrase帽a</label>
                {{!-- <a href="auth-forgot-password-basic.html">
                  <small>Forgot Password?</small>
                </a> --}}
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="路路路路路路路路路路路路" required aria-describedby="password">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Ingresar</button>
            </div>
          </form>
           {{!-- <p class="text-center">
            <span>New on our platform?</span>
            <a href="auth-register-basic.html">
              <span>Create an account</span>
            </a>
          </p> --}}
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>